<!DOCTYPE html>
<html lang="pl" class="theme-light">
<head>
    <meta charset="UTF-8">
    <title>Blog Kulinarny - przepis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type="text/css" rel="stylesheet" href="../styles/styles.css">
    <link type="text/css" rel="stylesheet" href="../styles/przepis.css">
<body>
<div class="container">
    <div class="row upper">
        <div class="title col-10">Blog Kulinarny</div>
        <div id="logo" class="col-2"><img src="../static/logo.png" alt="logo"></div>
    </div>
    <div class="row">
        <nav class="col-12">
            <ul class="nav col-6 left">
                <li><a href="index.html">Strona Główna</a></li>
                <li><a href="kategorie.html">Kategorie</a></li>
                <li><a href="kontakt.html">O nas</a></li>
                <li><img id="switch" src="../static/theme.png" onclick="changeTheme()" alt="theme"></li>
            </ul>
            <div class="nav col-6 right search">
                <label for="search_input"></label><input placeholder="Search for a dish" id="search_input" value="" type="text">
                <button id="submit_search" type="submit" onclick="searchFor()"><i class="fa fa-search"></i></button>
            </div>
        </nav>
    </div>
    <div class="detail">
        <h1 class="row">Paszteciki z ciasta francuskiego</h1>
        <div><h4>20 minut</h4></div>
        <div class="row">
            <div class="col-12 " id="dish_image">
                <img src="../static/zarcie.jpg" alt="Dish Picture">
            </div>
        </div>
        <div class="row">
            <div class="col-3" id="intro">
                <h3>Składniki</h3>
                <p>30g lemon grass</p>
                <p>250g mascarpone</p>
                <p>500g baking soda</p>
                <p>2 green onion</p>
                <p>100gcoconut cream</p>
                <p>3 remoulade</p>
            </div>
            <div id="intro2" class="col-9">
                <h3>Opis</h3>
                <ul id="kroki">
                    <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</li>
                    <li>Commodo nulla facilisi nullam vehicula ipsum a arcu cursus vitae.</li>
                    <li>Ultrices sagittis orci a scelerisque purus semper eget. Massa id neque aliquam vestibulum morbi blandit cursus. Vitae auctor eu augue ut lectus arcu.</li>
                    <li>Luctus venenatis lectus magna fringilla. Diam ut venenatis tellus in metus vulputate eu. Imperdiet nulla malesuada pellentesque elit.</li>
                </ul>
            </div>
        </div>
    </div>
    <footer>
        <div class="col-12 social">
            <a href="https://www.instagram.com/"><i class="icon ion-social-instagram"></i></a>
            <a href="https://www.snapchat.com/"><i class="icon ion-social-snapchat"></i></a>
            <a href="https://twitter.com/"><i class="icon ion-social-twitter"></i></a>
            <a href="https://www.facebook.com/"><i class="icon ion-social-facebook"></i></a>
        </div>
        <p class="copyright">Techniki Internetowe © 2022</p>
        <p class="copyright">Wykonali: Jakub Pszczoła i Nadia Maksymiuk</p>

    </footer>
</div>
<script src="../scripts/index.js"></script>
</body>
</html>